.header{
    width: 1441.5px;
    height: 0px;
    left: -0.5px;
    top: 116px;
    border: 1px solid #F1F1F1;
}

.logo-image{
    width: 137px;
    height: 72px;
    left: 45px;
    top: 28px;
    margin: 20px;
}